<hmtl> 
    <head> 
        <title>Lista de mejores amigos</title> 
        </head> 
    <body> 
        <h1>Lista de mejores amigos </h1>
        <ul> <li>Facundo</li>
<li>Gabriel</li>
<li>German</li>
 <li>Pablo</li> 
 <li>Ivan</li> 
 </ul> 
 <a href="Menu.html">Volver al menu</a> </body>
  </hmtl>
