<hmtl> 
    <head> <title>Tabla de bandas</title> 
    <style> table,th,td { border:1px solid black;}</style> 
    </head> 
    <body>
         <h1>Tabla de bandas</h1> 
         <table style="width:100%"> 
             <tr> 
            <th>Banda</th> 
            <th>Cantante</th> 
            <th>Genero</th> </tr> 
                <tr>
                <th>El Cuarteto de Nos</th> 
            <th>Roberto Musso</th> 
            <th>Rock</th> </tr> 
            <tr> <th>The beatles</th> 
            <th>Paul Mcarney - Jhon Lennon</th> <th>Rock</th>
             </tr> </tr> <tr> <th> Simon And Garfunkel</th> <th>Paul Simon - Art Garfunkel</th> <th>Folk Rock</th>
              </tr></table> <a href="Menu.html">Volver al menu</a> 
              </body> 
              </hmtl>
